<div class="card border-primary mb-3">
  <a href="/post/{{id}}">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3>{{title}}</h3>
      <p>Posted by {{user.username}} on {{format_date updatedAt}}</p>
    </div>
    <div class="card-body">
      <p class="card-text">{{body}}</p>
    </div>
  </a>
</div>